<!DOCTYPE html>
<html>
  <head>
    <title>success</title>
  </head>
  <body>
    <h1>Payment Successful</h1>
    <script>
      setTimeout(() => {
        window.location = "http://10.9.89.146:8880/success";
      }, 1000);
    </script>
  </body>
</html>
